.root
.app
    height 100%

.app
    position relative
    border 1px solid #E0E0E0

    &__logo
        top 20px
        left 20px
        opacity .5
        transition all .25s

        &:hover
            opacity 1

        img
            height 100px
